    </div>
    <div class="footer">
        <p>Ayush Pratap Singh</p>
     </div>
     
        <script>
            $(document).ready(function(){
              $('.ui .item').on('click', function() {
               $('.ui .item').removeClass('active');
               $(this).addClass('active');
            }); 
             
            })
             
            </script>
    </body>
</html>